.App {
  font-family: sans-serif;
  text-align: center;
}

.content {
  background-blend-mode: screen;
  font-family: "Calibri";
  margin: 20px auto 10px;
  width: 800px;
  font-family: "Roboto Mono", monospace;
}

.footer {
  margin: 20px 0 0;
  font-size: 14px;
}

.date-today {
  color: #ad9d9d;
  margin: 20px 25px 0 20px;
  font-size: 28px;
  font-family: "Zilla Slab Highlight", cursive;
  text-align: left;
}
