#forecast {
  margin: auto;
}

.date {
  color: #ad9d9d;
  margin: 10px 0;
  text-align: center;
  font-family: "Zilla Slab Highlight", cursive;
}

.temp-small {
  margin: auto;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  box-shadow: 5px 5px 15px -5px #838383;
  text-align: center;
  border-radius: 60px;
  font-size: 24px;
  height: 120px;
  width: 120px;
  color: #ffffff;
  text-shadow: 2px 2px 4px #838383;
}
