.today {
  margin: 30px auto 0;
  text-align: center;
}

.temp {
  font-size: 48px;
}

.converter {
  font-family: "Roboto Mono", monospace;
  font-size: 24px;
}

.temp-celsius,
.temp-fahrenheit {
  color: #ffffff;
  font-weight: bold;
}

.temp-link {
  color: #ffffff;
  opacity: 0.4;
  text-decoration: none;
}

.temp-link:hover {
  color: #ffffff;
  opacity: 1;
  font-weight: bold;
  text-decoration: none;
}

.temp-today {
  color: #ffffff;
  padding: 50px 0;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  box-shadow: 5px 5px 15px -5px #838383;
  text-align: center;
  border-radius: 150px;
  font-size: 32px;
  transition: all 200ms ease-in-out;
  text-shadow: 2px 2px 4px #838383;
  height: 300px;
  width: 300px;
  margin: auto;
}

.weather-details {
  color: #838383;
  margin: 20px 0 10px 20px;
  padding: 0;
  list-style-type: none;
}
